# Jesse's Python Basics

Created 9/19/2021
Last Updated 9/19/2021

## A Useful Hyperlink for Jupyter Markdown Language:
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

## Table of Contents:
* [Python Data Types](#first-bullet)
* [Python Data Structures](#second-bullet)

## Python Data Types <a class="anchor" id="first-bullet"></a>

## Python Data Structures <a class="anchor" id="second-bullet"></a>

In [15]:
# Tuples
## properties: brackets=(), ordered sequence, immutable,indexed


my_tuple = (10,3,4,5,6,7,'hello',7.2, 8.3)
# print first element
print(my_tuple[0]) 

# print last element
print(my_tuple[-1]) 

# concatenate tuples
my_tuple2 = (1,10,4,7,3)
print(my_tuple+my_tuple2) 

# slice tuples - from index you want to the index you want +1
first_index = 1
last_index = 5
print(my_tuple[first_index:last_index+1])

# tuples are immutable!
# my_tuple[2] = 4 # returns an error!

# sorting tuples - the output is a sorted LIST
sorted_tuple = sorted(my_tuple2)
print(sorted_tuple)

# nesting tuples
nested_tuple = my_tuple2+(1,3,(34,56))
print(nested_tuple)
# indexing nested tuples -think of it like a tree, first use index of the main tuple, then the secondary tuple and so on
print(nested_tuple[-1][0])

10
8.3
(10, 3, 4, 5, 6, 7, 'hello', 7.2, 8.3, 1, 10, 4, 7, 3)
(3, 4, 5, 6, 7)
[1, 3, 4, 7, 10]
(1, 10, 4, 7, 3, 1, 3, (34, 56))
34

In [24]:
# lists
## properties: brackets=[], ordered sequence, mutable,indexed

my_list = [1,3,5,6,7.2,10.3,'hello']

# index convention for lists and tuples are the same!

# lists however, are mutable!:
my_list.extend(['new_element1','new_element2']) # adds as many elements as you want to the end of the list
print(my_list)

my_list.append(['again']) # appends only one element
print(my_list)

# deleting element
del(my_list[-4:])
print(my_list)

# convert string to list using split
str_list = "hello, world, again".split(',')
print(str_list)

[1, 3, 5, 6, 7.2, 10.3, 'hello', 'new_element1', 'new_element2']
[1, 3, 5, 6, 7.2, 10.3, 'hello', 'new_element1', 'new_element2', ['again']]
[1, 3, 5, 6, 7.2, 10.3]
['hello', ' world', ' again']